extends ../layout/admin

block contenido
    h2(class="my-10 text-2xl font-extrabold text-center")= pagina

    a(href="/mis-propiedades " class="flex justify-center w-full px-10 py-2 my-5 text-sm font-bold text-center text-white uppercase rounded bg-emerald-600 hover:bg-emerald-700 sm:w-auto") Volver

    div(class="max-w-4xl mx-auto bg-white shadow")

        if mensajes.length 
           ul 
            each mensaje in mensajes 
                li(class="p-5 border-b border-gray-200")
                    p(class="font-bold text-gray-800") Nombre: 
                        span(class="font-normal")= mensaje.usuario.nombre

                    p(class="font-bold text-gray-800") Email: 
                        span(class="font-normal")= mensaje.usuario.email

                    p(class="font-bold text-gray-800") Mensaje: 
                        span(class="font-normal")= mensaje.mensaje 

                    p(class="font-bold text-gray-800") Enviado: 
                        span(class="font-normal")= formatearFecha(mensaje.createdAt)
        else 
            p(class="p-5 text-center text-gray-600") No hay Mensajes